#tree
   h2 Which do you like better?
   ul
      li 
        h3 Dogs
        p.text.hidden What kind of dogs?
        ul 
          li 
            h4 Large dogs
            p.text.hidden What breed?
            ul
              li Grand Danois
                p.text.hidden Congratulations, you like GD!
              li Weimaraner
                p.text.hidden Congratulations, you like W!
            span.back.hidden Back
          li 
            h4 Small dogs
          span.back.hidden Back
      li 
        h3 Cats
        p.text.hidden What kind of cats?
        ul 
          li Domestic cats
          li Wild Cats
      span.back.hidden Back to Dogs & Cats
